/*! Reset styles */
*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

textarea {
  outline: none;
}

:root {
  --main-color: #DD2242;
  --blue---background: #010a20;
  --white: #fff;
  --text-lighten: #e0e0e0;
  --grey-reduced: #85a3b2;
  --light-text: rgba(21, 20, 57, 0.4);
  --paragraph-dark: #6f7787;
  --primary-color: #f72c45;
  --dot-inactive-color: #a0a8b3;
  --font-family: "DM Sans", sans-serif;
  --second-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.01em;
  color: var(--text-lighten);
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  width: 165px;
  gap: 5px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .logo {
    margin: 0 auto;
    margin-bottom: 5px;
  }
}
.logo__text {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 23px;
  line-height: 81%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--white);
}
.logo__text--red {
  color: var(--main-color);
}
.logo__rectangle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 110%;
  height: 20px;
  background: linear-gradient(180deg, rgba(1, 132, 149, 0) 0%, #018394 100%);
  opacity: 0.7;
}

.burger-menu {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  padding: 48px 40px;
  background-color: var(--white);
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu__open {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .burger-menu__open {
    display: none;
  }
}
.burger-menu__close {
  position: absolute;
  left: 90%;
  top: 10px;
  background-color: var(--white);
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-menu .bnav-list {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.burger-menu .bnav-list__nav-link {
  text-transform: uppercase;
  color: var(--light-text);
}

.displaynone {
  transform: translateX(100vw);
}

.no-scroll {
  overflow: hidden;
}

.header {
  padding-top: 28px;
  margin-bottom: 45px;
}
.header .container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header .container {
    display: block;
  }
}
.header .container .header__nav {
  margin-left: 95px;
  display: flex;
}
.header .container .header__nav .hlist {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .container .header__nav .hlist {
    display: flex;
    gap: 49px;
    margin-right: 49px;
  }
}
.header .container .header__nav .hlist__link {
  text-transform: uppercase;
  color: var(--white);
}
.header .container .header__nav .hlist-mobile {
  display: flex;
  gap: 30px;
}
.header .container .header__nav .hlist-mobile__item {
  display: flex;
  align-items: center;
}
.header .container .header__nav .hlist-mobile__button {
  display: flex;
  align-items: center;
}

.hero__overlay {
  background-image: url(../images/hero-background-m-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(193deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.29) 100%), url(../images/hero-background-m-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: linear-gradient(193deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.29) 100%), url(../images/hero-background-td-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(193deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.29) 100%), url(../images/hero-background-td-2x.jpg);
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
}
.hero__title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 58px;
  line-height: 108%;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 120px;
    text-align: center;
    margin-bottom: 63px;
  }
}
.hero__button {
  border-radius: 108px;
  padding: 10px;
  width: 100%;
  height: 59px;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .hero__button {
    margin: 0 auto;
    margin-bottom: 49px;
    border-radius: 211px;
    padding: 10px;
    width: 271px;
    height: 82px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }
}
.hero .herolist {
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  width: 314px;
  height: 472px;
  margin: 0 auto;
  padding: 32px;
  padding-top: 35px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .hero .herolist {
    order: 1;
    flex-direction: row;
    width: 100%;
    height: 193px;
  }
}
.hero .herolist__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hero .herolist__item__number {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--main-color);
}
.hero .herolist__item__title {
  font-weight: 700;
  font-size: 26px;
  color: var(--white);
}
.hero .herolist__item__description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #939393;
}
.hero .video-container {
  width: 314px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
  background-image: url(../images/hero-video-m-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .video-container {
    background-image: url(../images/hero-video-m-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero .video-container {
    width: 417px;
    height: 254px;
    order: 0;
    margin: 0 auto;
    margin-bottom: 24px;
    background-image: url(../images/hero-video-td-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .video-container {
    background-image: url(../images/hero-video-td-2x.jpg);
  }
}
.hero .video-container__circle {
  position: absolute;
  top: calc(50% - 29px);
  left: calc(50% - 29px);
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--white);
}
.hero__vertical {
  display: none;
}

.walkways {
  background-image: url(../images/overlay.svg);
  background-color: var(--blue---background);
}
.walkways__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .walkways__title {
    text-align: center;
    font-size: 42px;
    width: 480px;
    margin: 0 auto;
  }
}
.walkways__description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--text-lighten);
}
@media screen and (min-width: 768px) {
  .walkways__description {
    text-align: center;
    font-size: 18px;
    width: 407px;
    margin: 0 auto;
  }
}
.walkways__button {
  border-radius: 32px;
  padding: 10px;
  width: 100%;
  height: 72px;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .walkways__button {
    border-radius: 32px;
    padding: 10px;
    width: 180px;
    height: 59px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0 auto;
  }
}
.walkways__overlay1 {
  padding-top: 40px;
  margin-bottom: 56px;
  background-image: url(../images/walkways-background-m-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .walkways__overlay1 {
    background-image: url(../images/walkways-background-m-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .walkways__overlay1 {
    background-image: url(../images/walkways-background-td-1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .walkways__overlay1 {
    background-image: url(../images/walkways-background-td-2x.png);
  }
}
.walkways__overlay1 .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.walkways__overlay2 {
  padding-bottom: 48px;
  background-image: url(../images/beaches-background-m-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .walkways__overlay2 {
    background-image: url(../images/beaches-background-m-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .walkways__overlay2 {
    background-image: url(../images/beaches-background-td-1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .walkways__overlay2 {
    background-image: url(../images/beaches-background-td-2x.png);
  }
}
.walkways__overlay2 .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.walkways__overlay2 .container .walkways__picture {
  order: -1;
}
.walkways__picture {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  width: 314px;
}
@media screen and (min-width: 768px) {
  .walkways__picture {
    width: 630px;
  }
}

.explore__overlay {
  background-image: url(../images/explore-background-m-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .explore__overlay {
    background-image: url(../images/explore-background-m-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .explore__overlay {
    background-image: url(../images/explore-background-td-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .explore__overlay {
    background-image: url(../images/explore-background-td-2x.jpg);
  }
}

.explore {
  padding-top: 25px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .explore {
    padding-top: 77px;
  }
}
.explore__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: var(--blue---background);
  margin-bottom: 23px;
}
@media screen and (min-width: 768px) {
  .explore__title {
    font-size: 50px;
    margin-bottom: 72px;
  }
}
.explore .slider {
  overflow-x: hidden;
  width: 314px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 695px;
}
.explore .slider-list {
  display: flex;
  overflow: hidden;
  gap: 30px;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease-in-out;
  width: 1496px;
}
.explore .slider-list__item {
  flex-shrink: 0;
  width: 314px;
  border-radius: 8px;
}
.explore .slider-list__item__content {
  display: block;
  line-height: 0;
}
.explore .slider-list__item__content img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}
.explore .slider-buttons-list {
  position: absolute;
  width: 367px;
  top: 63%;
  left: calc(50% - 183px);
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .explore .slider-buttons-list {
    width: 467px;
    left: calc(50% - 233px);
  }
}
.explore .slider-pagination-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.explore .slider-pagination-list__item {
  width: 10px;
  height: 10px;
  background-color: var(--dot-inactive-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.explore .slider-pagination-list__item--active {
  background-color: var(--primary-color);
  width: 30px;
  border-radius: 5px;
}

.numbers {
  background: #020c21;
  opacity: 0.9;
  padding: 70px 0;
}
.numbers .container {
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.numbers__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: var(--white);
}
.numbers__description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .numbers__description {
    width: 496px;
    margin: 0 auto;
  }
}
.numbers .nlist {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.numbers .nlist__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.numbers .nlist__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: var(--main-color);
}
.numbers .nlist__description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .numbers .nlist__description {
    width: 340px;
    margin: 0 auto;
  }
}

.hills {
  background-image: url(../images/hills-background-m-01.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 171px;
}
@media screen and (min-width: 768px) {
  .hills {
    background-image: url(../images/hills-background-td-01.svg);
  }
}
.hills__overlay {
  background-image: url(../images/hills-background-m-02.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hills__overlay {
    background-image: url(../images/hills-background-td-02.svg);
    background-size: cover;
    background-position: right;
  }
}
.hills .container {
  display: flex;
  flex-direction: column;
}
.hills__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: #000;
  margin-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .hills__title {
    width: 526px;
    margin: 0 auto;
    margin-bottom: 51px;
  }
}
.hills__description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--paragraph-dark);
  margin-bottom: 41px;
}
@media screen and (min-width: 768px) {
  .hills__description {
    width: 526px;
    margin: 0 auto;
    margin-bottom: 171px;
  }
}
.hills__button {
  border-radius: 122px;
  padding: 10px;
  width: 100%;
  height: 73px;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 116px;
}
@media screen and (min-width: 768px) {
  .hills__button {
    border-radius: 122px;
    padding: 10px;
    width: 526px;
    height: 73px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgb(255, 255, 255);
  }
}

.life {
  padding-top: 83px;
  background-color: var(--blue---background);
  background-image: url(../images/life-background-m-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .life {
    background-image: url(../images/life-background-m-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .life {
    padding-top: 171px;
    background-image: url(../images/life-background-td-1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .life {
    background-image: url(../images/life-background-td-2x.png);
  }
}
.life .container {
  display: flex;
  flex-direction: column;
}
.life__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: var(--white);
  margin-bottom: 110px;
}
.life .video-container2 {
  width: 314px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
  background-image: url(../images/life-video-m-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .life .video-container2 {
    background-image: url(../images/life-video-m-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .life .video-container2 {
    width: 738px;
    height: 433px;
    margin-bottom: 166px;
    background-image: url(../images/life-video-td-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .life .video-container2 {
    background-image: url(../images/life-video-td-2x.jpg);
  }
}
.life .video-container2__circle2 {
  position: absolute;
  top: calc(50% - 29px);
  left: calc(50% - 29px);
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #e93a7d;
}
.life .video-container2__svg2 {
  fill: var(--white);
}
@media screen and (min-width: 768px) {
  .life .lifelist__item {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 79px;
  }
}
.life .lifelist__picture {
  display: block;
  width: 314px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .life .lifelist__picture {
    margin: 0;
    width: 232px;
    height: 151px;
  }
}
@media screen and (min-width: 768px) {
  .life .lifelist__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 333px;
  }
}
.life .lifelist__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  margin-bottom: 20px;
}
.life .lifelist__description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white);
  margin-bottom: 37px;
}

.gallery {
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 177px;
  }
}
.gallery__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: var(--blue---background);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    margin-bottom: 41px;
  }
}
.gallery__description {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--paragraph-dark);
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .gallery__description {
    width: 511px;
    margin: 0 auto;
    margin-bottom: 87px;
  }
}
.gallery .gallery-list {
  width: 314px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: grid;
  gap: 13px;
  grid-template-areas: "a c" "a d" "a d" "b d" "e f" "e f";
}
@media screen and (min-width: 768px) {
  .gallery .gallery-list {
    width: 738px;
    margin-bottom: 171px;
    gap: 19px;
    grid-template-areas: "a c e" "a c e" "a d e" "a d f" "b d f" "b d f";
  }
}
.gallery .gallery-list .a {
  grid-area: a;
}
.gallery .gallery-list .b {
  grid-area: b;
}
.gallery .gallery-list .c {
  grid-area: c;
}
.gallery .gallery-list .d {
  grid-area: d;
}
.gallery .gallery-list .e {
  grid-area: e;
}
.gallery .gallery-list .f {
  grid-area: f;
}
.gallery .gallery-list__item {
  overflow: hidden;
  border-radius: 10px;
}

.getting {
  padding-top: 29px;
  padding-bottom: 73px;
  background-color: #dce8f2;
}
.getting__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: var(--blue---background);
  margin-bottom: 45px;
}
.getting__button {
  display: none;
}
.getting .getting-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.getting .getting-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getting .getting-list__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: var(--main-color);
  font-weight: 500;
  font-size: 26px;
  line-height: 144%;
  text-align: center;
  color: var(--white);
  margin-bottom: 26px;
}
.getting .getting-list__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: var(--blue---background);
  margin-bottom: 5px;
}
.getting .getting-list__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 5px;
  color: var(--light-text);
  max-height: 24px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.getting .getting-list__description.is-open {
  max-height: 170px;
}
.getting .getting-list__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
}
.getting .getting-list__picture {
  display: block;
  width: 314px;
  margin: 0 auto;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 32px;
  margin-bottom: 40px;
}

.footer {
  position: relative;
  padding-top: 147px;
  padding-bottom: 84px;
  background-color: var(--blue---background);
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.footer .address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-bottom: 36px;
}
.footer .address-list__link {
  font-weight: 700;
  font-size: 22px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--white);
}
.footer .address-social-list {
  display: flex;
  gap: 48px;
}
.footer__top-link {
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: calc(50% - 52px);
  background-color: var(--main-color);
  border-radius: 100%;
}/*# sourceMappingURL=main.css.map */