.header {
    padding-top: 28px;
    margin-bottom: 45px;
    // display: flex;

    @media screen and (min-width: 1400px) {
        margin-bottom: 159px;
    }

    .container {
        @include flex;
        align-items: center;

        @media screen and (min-width: 768px) {
            display: block;
        }

        @media screen and (min-width: 1400px) {
            @include flex;
            align-items: center;
            padding-left: 46px;
        }

        .header__nav {
            margin-left: 95px;
            display: flex;

            .hlist {
                display: none;

                @media screen and (min-width: 768px) {
                    display: flex;
                    gap: 49px;
                    margin-right: 49px;
                }

                @media screen and (min-width: 1400px) {
                    margin-right: 500px;
                }

                @media screen and (min-width: 1920px) {
                    margin-right: 906px;
                }

                &__link {
                    text-transform: uppercase;
                    color: var(--white);
                    @include multi-transition(color);

                    &:hover {
                        color: var(--main-color);
                    }
                }
            }

            .hlist-mobile {
                display: flex;
                gap: 30px;

                &__item {
                    @include flex;
                    align-items: center;
                    fill: var(--white);
                    cursor: pointer;
                    @include multi-transition(fill);

                    &:hover {
                        fill: var(--main-color);
                    }
                }

                &__button {
                    @include flex;
                    align-items: center;
                }
            }
        }
    }
}