.hero__overlay {
    // max-height: 1104px;
    background-image: url(../images/hero-background-m-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;


    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            linear-gradient(193deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.29) 100%),
            url(../images/hero-background-m-2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image:
            linear-gradient(193deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.29) 100%),
            url(../images/hero-background-td-1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                linear-gradient(193deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.29) 100%),
                url(../images/hero-background-td-2x.jpg);
        }

    }
}

.hero {
    @media screen and (min-width: 1920px) {
        position: relative;
    }

    .container {
        @include flex-column;

        @media screen and (min-width: 1400px) {
            padding-left: 46px;
        }

        @media screen and (min-width: 1920px) {
            padding-left: 300px;
        }
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 900;
        font-size: 58px;
        line-height: 108%;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: 12px;

        @media screen and (min-width: 768px) {
            font-size: 120px;
            text-align: center;
            margin-bottom: 63px;
        }

        @media screen and (min-width: 1400px) {
            width: 627px;
            text-align: start;
            // margin-left: 45px;
        }
    }

    &__button {
        @include button(100%, 59px, 108px, 0.8);
        margin-bottom: 54px;

        @media screen and (min-width: 768px) {
            margin: 0 auto;
            margin-bottom: 49px;
            @include button(271px, 82px, 211px, 0.8);
        }

        @media screen and (min-width: 1400px) {
            margin: 0;
            margin-bottom: 188px;
        }
    }

    &__content {
        @include flex-column;

        @media screen and (min-width: 1400px) {
            width: 1300px;
            flex-direction: row;
            align-items: end;
        }

        @media screen and (min-width: 1920px) {
            width: 1620px;
        }
    }

    .herolist {
        border: 1px solid rgba(0, 0, 0, 0.6);
        background: rgba(0, 0, 0, 0.6);
        width: 314px;
        height: 472px;
        // opacity: 0.6;
        margin: 0 auto;
        padding: 32px;
        padding-top: 35px;
        padding-bottom: 30px;
        @include flex-column;
        gap: 32px;

        @media screen and (min-width: 768px) {
            order: 1;
            flex-direction: row;
            width: 738px;
            height: 193px;
        }

        @media screen and (min-width: 1400px) {
            width: 899px;
            margin: 0;
        }

        @media screen and (min-width: 1920px) {
            width: 1225px;
            gap: 198px;
        }

        &__item {
            @include flex-column;
            gap: 4px;

            @media screen and (min-width: 1920px) {
                max-width: 210px;
            }

            &__number {
                font-family: var(--second-family);
                font-weight: 900;
                font-size: 16px;
                text-transform: uppercase;
                color: var(--main-color);
            }

            &__title {
                font-weight: 700;
                font-size: 26px;
                color: var(--white);
            }

            &__description {
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.03em;
                color: #939393;
            }
        }
    }

    .video-container {

        width: 314px;
        margin: 0 auto;
        margin-bottom: 40px;
        position: relative;
        background-image: url(../images/hero-video-m-1x.jpg);
        background-repeat: no-repeat;
        background-size: cover;


        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:

                url(../images/hero-video-m-2x.jpg);
        }

        @media screen and (min-width: 768px) {
            width: 417px;
            height: 254px;
            order: 0;
            margin: 0 auto;
            margin-bottom: 24px;
            background-image:

                url(../images/hero-video-td-1x.jpg);

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:

                    url(../images/hero-video-td-2x.jpg);
            }

        }

        @media screen and (min-width: 1400px) {
            order: 1;
            margin: 0;
        }

        &__circle {
            position: absolute;
            top: calc(50% - 29px);
            left: calc(50% - 29px);
            width: 58px;
            height: 58px;
            @include flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background-color: var(--white);
            cursor: pointer;
            // fill: var(--white);
            // stroke-width: 1px;
            // stroke: var(--white);
            // box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);

            @include multi-transition(transform);

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__vertical {
        display: none;

        @media screen and (min-width: 1920px) {
            display: block;
            position: absolute;
            width: 21px;
            height: 830px;
            left: 65px;
            right: 0px;
        }

        &__1rectangle {
            width: 4px;
            height: 100px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.45);
            background: var(--main-color);
            margin: 0 auto;
        }

        &__2rectangle {
            width: 2px;
            height: 296px;
            background: var(--white);
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &__number {
            font-weight: 700;
            font-size: 16px;
            color: var(--white);
            text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
            transform: rotate(270deg);
            margin-bottom: 226px;
        }

        .sociallist {
            @include flex-column;
            gap: 35px;

            &__link {
                font-weight: 700;
                font-size: 16px;
                color: var(--white);
                text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                @include multi-transition(color);

                &:hover {
                    color: var(--main-color);
                }
            }
        }
    }
}