

.explore__overlay {
    background-image: url(../images/explore-background-m-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:

            url(../images/explore-background-m-2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image:

            url(../images/explore-background-td-1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:

                url(../images/explore-background-td-2x.jpg);
        }

    }
}

.explore {
    padding-top: 25px;
    position: relative;

    @media screen and (min-width: 768px) {
        padding-top: 77px;
    }

    &__title {
        // margin-top: 25px;
        font-weight: 700;
        font-size: 40px;
        line-height: 115%;
        text-align: center;
        color: var(--blue---background);
        margin-bottom: 23px;

        @media screen and (min-width: 768px) {
            font-size: 50px;
            margin-bottom: 72px;
        }
    }

    .slider {
        overflow-x: hidden;
        // position: relative;
        width: 314px; 
        margin: 0 auto;
        // padding: 20px;
        box-sizing: border-box;
        margin-bottom: 695px;
    }

    .slider-list {
        display: flex;
        overflow: hidden; 
        gap: 30px;
        padding: 0;
        margin: 0;
        transition: transform 0.5s ease-in-out;
        width: 1496px;
    }

    .slider-list__item {
        flex-shrink: 0; 
        width: 314px; 
        border-radius: 8px;

        &__content {
            display: block; 
            line-height: 0; 

            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 8px;
                object-fit: cover; 
            }
        }
    }

    .slider-buttons-list {
        position: absolute;
        width: 367px;
        top: calc(70% - 20px);
        left: calc(50% - 183px);
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        @media screen and (min-width: 768px) {
            width: 467px;
            left: calc(50% - 233px);
            top: calc(75% - 20px);
        }
    }

    .slider-pagination-list {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        padding: 0;
        list-style: none;

        &__item {
            width: 10px;
            height: 10px;
            background-color: var(--dot-inactive-color);
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s ease;

            
            &--active {
                background-color: var(--primary-color);
                width: 30px; 
                border-radius: 5px;
            }
        }
    }
}