.numbers {
    background: #020c21;
    opacity: 0.9;
    padding: 70px 0;

    @media screen and (min-width: 1400px) {
        padding-top: 201px;
        padding-bottom: 224px;
    }

    .container {
        @include flex;
        flex-direction: column;
        gap: 57px;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 115%;
        text-align: center;
        color: var(--white);

        @media screen and (min-width: 1920px) {
            font-size: 60px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-align: center;

        @media screen and (min-width: 768px) {
            width: 496px;
            margin: 0 auto;
        }

        @media screen and (min-width: 1920px) {
            font-size: 18px;
        }
    }

    .nlist {
        @include flex;
        flex-direction: column;
        gap: 80px;

        @media screen and (min-width: 1400px) {
            justify-content: center;
            flex-direction: row;
        }

        &__item {
            @include flex;
            flex-direction: column;
            gap: 5px;

        }

        &__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 115%;
            text-align: center;
            color: var(--main-color);

            @media screen and (min-width: 1920px) {
                font-size: 42px;
            }
        }

        &__description {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-align: center;

            @media screen and (min-width: 768px) {
                width: 340px;
                margin: 0 auto;
            }

            @media screen and (min-width: 1920px) {
                font-size: 18px;
            }
        }
    }
}