.hills {
    background-image: url(../images/hills-background-m-01.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 171px;

    @media screen and (min-width: 768px) {
        background-image:

            url(../images/hills-background-td-01.svg);
    }

    @media screen and (min-width: 1400px) {
        padding-top: 249px;
        // padding-bottom: 256px;
    }

    &__overlay {
        background-image: url(../images/hills-background-m-02.svg);
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (min-width: 768px) {
            background-image:

                url(../images/hills-background-td-02.svg);

            background-size: cover;
            background-position: right;
        }
    }

    .container {
        @include flex;
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 115%;
        text-align: center;
        color: #000;
        margin-bottom: 36px;

        @media screen and (min-width: 768px) {
            width: 526px;
            margin: 0 auto;
            margin-bottom: 51px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--paragraph-dark);
        margin-bottom: 41px;

        @media screen and (min-width: 768px) {
            width: 526px;
            margin: 0 auto;
            margin-bottom: 171px;
        }

        @media screen and (min-width: 1400px) {
            margin-bottom: 36px;
        }
    }

    &__button {
        @include button(100%, 73px, 122px);
        margin: 0 auto;
        margin-bottom: 116px;


        @media screen and (min-width: 768px) {
            @include button(526px, 73px, 122px);
        }

        @media screen and (min-width: 1400px) {
            @include button(210px, 64px, 122px);
            margin-bottom: 256px;
        }
    }
}