.life {
    padding-top: 83px;
    background-color: var(--blue---background);
    background-image: url(../images/life-background-m-1x.png);
    background-repeat: no-repeat;
    background-size: cover;


    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:

            url(../images/life-background-m-2x.png);
    }

    @media screen and (min-width: 768px) {
        padding-top: 171px;
        background-image:

            url(../images/life-background-td-1x.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:

                url(../images/life-background-td-2x.png);
        }

        @media screen and (min-width: 1400px) {
            padding-bottom: 171px;
        }
    }

    .container {
        @include flex;
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 115%;
        text-align: center;
        color: var(--white);
        margin-bottom: 110px;

        @media screen and (min-width: 1400px) {
            width: 1056px;
            margin: 0 auto;
            margin-bottom: 110px;
        }
    }

    .video-container2 {
        width: 314px;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 40px;
        position: relative;
        background-image: url(../images/life-video-m-1x.jpg);
        background-repeat: no-repeat;
        background-size: cover;


        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:

                url(../images/life-video-m-2x.jpg);
        }

        @media screen and (min-width: 768px) {
            width: 738px;
            height: 433px;
            margin-bottom: 166px;
            background-image:

                url(../images/life-video-td-1x.jpg);

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:

                    url(../images/life-video-td-2x.jpg);
            }

        }

        @media screen and (min-width: 1400px) {
            width: 1056px;
            height: 594px;
        }

        &__circle2 {
            position: absolute;
            top: calc(50% - 29px);
            left: calc(50% - 29px);
            width: 58px;
            height: 58px;
            @include flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background-color: #e93a7d;

            // fill: var(--white);
            // stroke-width: 1px;
            // stroke: var(--white);
            // box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
        }

        &__svg2 {
            fill: var(--white);
        }
    }

    .lifelist {

        @media screen and (min-width: 1400px) {
            @include flex;
            gap: 75px;
            justify-content: center;
        }

        &__item {
            @media screen and (min-width: 768px) {
                @include flex;
                gap: 40px;
                justify-content: center;
                margin-bottom: 79px;

            }
        }

        &__picture {
            display: block;
            width: 314px;
            border-radius: 5px;
            overflow: hidden;
            margin: 0 auto;
            margin-bottom: 40px;

            @media screen and (min-width: 768px) {
                margin: 0;
                width: 232px;
                height: 151px;
            }

        }

        &__content {
            @media screen and (min-width: 768px) {
                @include flex-column;
                gap: 12px;
                width: 333px;
            }
        }

        &__title {
            font-weight: 700;
            font-size: 22px;
            line-height: 150%;
            text-align: center;
            color: var(--white);
            margin-bottom: 20px;

            @media screen and (min-width: 1400px) {
                text-align: start;
            }
        }

        &__description {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-align: center;
            color: var(--white);
            margin-bottom: 37px;

            @media screen and (min-width: 1400px) {
                text-align: start;
            }
        }
    }
}