.getting {
    padding-top: 29px;
    padding-bottom: 73px;
    background-color: #dce8f2;

    @media screen and (min-width: 768px) {
        padding-top: 67px;

    }

    @media screen and (min-width: 1400px) {
        padding-top: 119px;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 115%;
        text-align: center;
        color: var(--blue---background);
        margin-bottom: 45px;

        @media screen and (min-width: 768px) {
            font-size: 60px;
            margin-bottom: 53px;
        }

        @media screen and (min-width: 1400px) {
            text-align: start;
            margin-left: 75px;
            margin-bottom: 44px;
        }

        @media screen and (min-width: 1920px) {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 44px;
        }
    }

    &__button {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            @include button(210px, 64px, 122px);
        }

        @media screen and (min-width: 1400px) {
            margin-left: 170px;
        }

        @media screen and (min-width: 1920px) {
            margin-left: 449px;
        }
    }

    .getting-list {
        @include flex-column;
        gap: 32px;

        @media screen and (min-width: 768px) {
            gap: 52px;
            margin-bottom: 62px;
        }

        @media screen and (min-width: 1400px) {
            width: 1162px;
            margin-left: 75px;
            margin-bottom: 17px;
        }

        @media screen and (min-width: 1920px) {
            margin: 0 auto;
            margin-bottom: 17px;
        }

        &__item {
            @include flex-column;
            align-items: center;
            // margin-bottom: 32px;

            @media screen and (min-width: 768px) {
                flex-direction: row;
                flex-wrap: wrap;
                // column-gap: 440px;
                justify-content: space-between;
                row-gap: 20px;
            }

            @media screen and (min-width: 1400px) {
                justify-content: start;
                column-gap: 44px;
                row-gap: 28px;
                position: relative;
            }
        }

        &__number {
            @include flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            border-radius: 100%;
            background-color: var(--main-color);
            font-weight: 500;
            font-size: 26px;
            line-height: 144%;
            text-align: center;
            color: var(--white);
            margin-bottom: 26px;

            @media screen and (min-width: 768px) {
                order: 0;
                margin: 0;
            }

            @media screen and (min-width: 1400px) {
                position: relative;
                z-index: 999;
                order: -1;
            }
        }

        &__title {
            font-weight: 700;
            font-size: 22px;
            line-height: 150%;
            text-align: center;
            color: var(--blue---background);
            margin-bottom: 5px;

            @media screen and (min-width: 768px) {
                order: -1;
            }

            @media screen and (min-width: 1400px) {
                margin-bottom: 0px;
            }
        }

        &__content2 {
            @media screen and (min-width: 768px) {
                @include flex;
                gap: 45px;
            }
        }

        &__text-content2 {
            @media screen and (min-width: 768px) {
                width: 430px;
            }
        }

        &__title2 {
            font-weight: 700;
            font-size: 22px;
            line-height: 150%;
            text-align: center;
            color: var(--blue---background);
            margin-bottom: 5px;

            @media screen and (min-width: 1400px) {
                text-align: start;
            }
        }

        &__description {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-align: center;
            margin-bottom: 5px;
            color: var(--light-text);
            max-height: 24px;
            overflow: hidden;
            transition: max-height 0.5s ease-out;

            @media screen and (min-width: 768px) {
                max-height: 170px;
            }

            @media screen and (min-width: 1400px) {
                margin-left: 100px;
                max-width: 1038px;
                text-align: start;
            }

            &--margin {
                @media screen and (min-width: 768px) {
                    margin-bottom: 52px;
                }
            }

            &--nomargin {
                @media screen and (min-width: 1400px) {
                    margin-left: 0;
                    text-align: start;
                }
            }
        }

        &__description.is-open {
            max-height: 170px;
        }

        &__button {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-align: center;
            margin: 0 auto;
            display: block;
            color: var(--main-color);

            @media screen and (min-width: 768px) {
                display: none;
            }
        }

        &__picture {
            display: block;
            width: 314px;
            margin: 0 auto;
            border-radius: 7px;
            overflow: hidden;
            margin-top: 32px;
            margin-bottom: 40px;

            @media screen and (min-width: 768px) {
                width: 260px;
                height: 165px;
                margin: 0;
            }

            @media screen and (min-width: 1400px) {
                margin-left: 100px;
            }
        }

        &__rectangle {
            display: none;

            @media screen and (min-width: 1400px) {
                display: block;
                position: absolute;
                height: calc(100% + 52px);
                width: 2px;
                background: var(--light-text);
                opacity: 0.3;
                left: 27px;
                top: 20px;
            }
        }
    }
}