.footer {
    position: relative;
    padding-top: 147px;
    padding-bottom: 84px;
    background-color: var(--blue---background);

    @media screen and (min-width: 1400px) {
        padding-top: 47px;
        padding-bottom: 39px;
    }

    .container {
        @include flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;

        @media screen and (min-width: 1400px) {
            flex-direction: row;
            gap: 50px;
            padding-left: 35px;
            padding-right: 196px;
        }
    }

    .address {
        @media screen and (min-width: 1400px) {
            @include flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
        }
    }

    .address-list {
        @include flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;
        margin-bottom: 36px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 114px;
            margin-bottom: 56px;
        }

        @media screen and (min-width: 1400px) {
            margin: 0;
            gap: 35px;
        }

        &__link {
            font-weight: 700;
            font-size: 22px;
            line-height: 156%;
            letter-spacing: 0.03em;
            color: var(--white);
        }
    }

    .address-social-list {
        @include flex;
        gap: 48px;
        // margin-bottom: 36px;

        @media screen and (min-width: 768px) {
            justify-content: center;
        }

        @media screen and (min-width: 768px) {
            align-items: center;
        }

        &__item {
            @include flex;
            align-items: center;
        }
    }

    &__top-link {
        width: 104px;
        height: 104px;
        @include flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -52px;
        left: calc(50% - 52px);
        background-color: var(--main-color);
        border-radius: 100%;

        @media screen and (min-width: 1400px) {
            left: calc(90% - 52px);
        }
    }

    &__copyright {
        font-weight: 700;
        font-size: 23px;
        letter-spacing: 0.03em;
        color: var(--white);
    }
}