@mixin flex {
    display: flex;
}

@mixin button($w, $h, $r, $c: 1) {
    border-radius: $r;
    padding: 10px;
    width: $w;
    height: $h;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, $c);
}

@mixin background($url) {
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            url($url);
    }

    @media screen and (min-width: 768px) {
        background-image:
            url($url);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url($url);
        }

    }
}