.container {
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
    // outline: 1px solid tomato;
    
    //! Медіа-запити
    @media screen and (min-width: 375px) {
        width: 375px;
        // outline: 1px solid green;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
        // outline: 1px solid blue;
    }

    @media screen and (min-width: 1400px) {
        width: 1400px;
        // outline: 1px solid blue;
    }
    
    @media screen and (min-width: 1920px) {
        width: 1920px;
        // outline: 1px solid yellow;
    }
}