.logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    width: 165px;
    gap: 5px;
    position: relative;
    fill: white;
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 23px;
    line-height: 81%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--white);

    &--red {
        color: var(--main-color);
    }

    @include multi-transition((color, fill));

    &:hover {
        fill: var(--main-color);
        color: var(--main-color);
    }

    @media screen and (min-width: 768px) {
        margin: 0 auto;
        margin-bottom: 5px;
    }

    @media screen and (min-width: 1400px) {
        margin: 0;
    }

    // background-color: black;
    &__rectangle {
        position: absolute;
        top: 30px;
        left: 0px;
        width: 110%;
        height: 20px;
        background: linear-gradient(180deg, rgba(1, 132, 149, 0) 0%, #018394 100%);
        opacity: 0.7;
    }
}